# Deny access to all files
Deny from all

# Allow access to specific file types
<FilesMatch "\.(json)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Allow PHP to access the files
<Files ~ "\.php$">
    Order allow,deny
    Allow from all
</Files> 