.catn8-rap-sheet-booking-key {
  width: 34%;
}

.catn8-rap-sheet-col-time {
  width: 14%;
}

.catn8-rap-sheet-col-case {
  width: 18%;
}

.catn8-rap-sheet-col-scenario {
  width: 18%;
}

.catn8-rap-sheet-col-question {
  width: 34%;
}
